$primary-color: #80558c;
$secondary-color: #3c4048;
$tertiary-color: #319da0;

$pastel-color-primary: #141e27;
$pastel-color-secondary: #7f5283;
$pastel-color-tertiary: #a6d1e6;
$pastel-color-quaternary: #fefbf6;

.home-container-own {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $pastel-color-primary;
  .home-container__categories {
    width: 100%;
    min-height: calc(100vh - 4rem);
    margin-top: 4rem;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
    .categories-header {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 50%;
      gap: 1rem;
      color: $pastel-color-quaternary;
      margin: 2rem 0;
      h1 {
        font-size: 2rem;
        font-weight: 600;
      }
      form {
        display: flex;
        line-height: 2rem;
        align-items: center;
        position: relative;
        max-width: 50rem;
        border-radius: 0.5rem;
        overflow: hidden;
        transition: 0.3s ease;
        input {
          width: 30rem;
          height: 2.5rem;
          line-height: 2rem;
          padding: 0 1rem;
          padding-left: 2.5rem;
          border: 2px solid transparent;
          outline: none;
          background: $pastel-color-quaternary;
          color: #0d0c22;
          transition: color 0.3s ease;
          &::placeholder {
            color: #9e9ea7;
          }
        }
        button {
          font-size: 1rem;
          height: 2.5rem;
          line-height: 2rem;
          padding: 0 1rem;
          color: $pastel-color-primary;
          cursor: pointer;
          border: none;
          background: $pastel-color-quaternary;
        }
        &:hover {
          outline: none;
          border-color: $pastel-color-secondary;
          background-color: #fff;
          box-shadow: 0 0 1rem 0.3rem rgb(127 82 131 / 10%);
          input {
            &:focus {
              outline: none;
              box-shadow: 0 0 1rem 0.3rem rgb(127 82 131 / 10%);
            }
            &::placeholder {
              color: #0d0c22;
            }
          }
        }
      }
      p {
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
      }
    }
    .categories-card-wrapper {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
    }
  }
  .home-container__disks {
    width: 100%;
    min-height: calc(100vh - 4rem);
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
    h1 {
        color: #fff;
        font-size: 2rem;
        font-weight: 600;
      }
    .disks-header{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 50%;
      gap: 1rem;
      
      form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        input {
          width: 100%;
          border: 0.1rem solid #fff;
          padding: 0.5rem;
          border-radius: 0.5rem 0 0 0.5rem;
          background-color: white;
          font-size: 1.2rem;
          outline: none;
        }
        button {
          border: 0.1rem solid #fff;
          font-size: 1.2rem;
          border-radius: 0 0.5rem 0.5rem 0;
          padding: 0.5rem 1rem;
          color: #000;
          background-color: transparent;
          outline: none;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          background: #ffdbd8;
          &:hover {
            background: #eac0bc;
          }
        }
      }
      p {
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
      }
    }
    .discs-card-wrapper {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}
