.filters-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  min-height: 100vh;
  gap: 2rem;
  flex-direction: column;
  background-color: var(--pastel-color-primary);
  color: white;
  h1 {
    padding-top: 2rem;
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .price-filter {
    width: 15rem;
    .prices-container {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-evenly;
      gap: 0.3rem;
      span {
        display: flex;
        width: 50%;
        align-items: center;
        gap: 0.3rem;
        font-weight: 500;

        input {
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            appearance: none;
          }

          border: 0.1rem solid #000;

          border-radius: 0.2rem;
          width: 80%;
        }
      }

      button {
        border-radius: 50%;
        display: flex;
        width: 1.5rem;
        height: 1.3rem;
        font-size: medium;
        justify-content: center;
        align-items: center;
        border: none;
        color: #000;
        background: #fff;

        &:active {
          transform: scale(0.96);
        }
      }
    }

    .multi-range-slider {
      border: none;
      padding: 0.5rem;
      box-shadow: none;

      & .bar-inner {
        background-color: rgb(96, 157, 173);
      }

      & .bar-left,
      & .bar-right {
        background: rgb(255, 252, 252);
        box-shadow: none;
      }

      & .thumb {
        &::before {
          background-color: rgb(255, 255, 255);
          width: 1.2rem;
          height: 1.2rem;
          border: none;
          box-shadow: none;
          margin: -6px;
        }

        & * {
          bottom: 1rem;
          width: 35px;
          height: 35px;
          background-color: rgb(203, 0, 0);
          border-radius: 0.5rem;
          color: white;
          box-shadow: none;
          display: none;
          clip-path: polygon(0 0, 100% 0%, 100% 75%, 50% 100%, 0 75%);
        }

        &:active * {
          display: none; //ADD Pop up value
        }
      }

      & .label {
        font-weight: 500;
        margin-top: 0.5rem;
        margin-bottom: 0;
      }

      & .label-min,
      & .label-max {
        position: relative;
        &::before {
          content: "$";
          left: -0.5rem;
          position: absolute;
        }

        font-size: 90%;
      }
    }
  }
  .resetFilters {
    width: fit-content;
    color: #000;
    padding: 0.5rem 1.2rem;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 0.5rem;
    border: none;
    transition: all var(--d) var(--e);
    &:hover {
      transition: all var(--d) var(--e);
      transform: scale(1.05);
      background: #000;
      color: white;
    }
  }
  .explicit-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    label {
      font-weight: 500;
      font-size: 1.3rem;
    }
    ul {
      list-style: none;
      display: flex;
      gap: 1rem;
      li {
        font-size: 1rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        color: white;
        padding: 0rem .5rem;
        input[type='checkbox'] {
          cursor: pointer;
          appearance: none;
          margin: 0;
          font: inherit;
          color: currentColor;
          width: 1.15em;
          height: 1.15em;
          border: 0.15em solid currentColor;
          border-radius: 0.15em;
          transform: translateY(-0.075em);
          display: flex;
          transition: 0.12 transform ease-in-out;
          position: relative;
          align-items: center;
          justify-content: center;
          &:hover{
            transition: 0.12  transform ease-in-out;
            transform: scale(1.2);
          }
          &::before {
            position: absolute;
            top: -3px;
            left: -1px;
            content: '';
            width: 1.2em;
            height: 1.2em;
            transform: scale(0);
            transition: 0.2 transform ease-in-out;
            background-color: rgb(255, 255, 255);
            clip-path: polygon(
              75% 22%,
              89% 31%,
              38% 91%,
              7% 59%,
              20% 47%,
              38% 66%
            );
          }
          &:checked {
            &::before {
              transform: scale(1);
            }
          }
        }
      }
    }
  }
}
.filters-items-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 1rem;
  align-items: center;
  justify-content: center;

  gap: 1rem;

  .filter-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 0 40%;
    min-height: 3rem;
    max-width: 6.5rem;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 0.5rem;
    color: #000;
    background: #fff;
    position: relative;
    padding: 0.5rem;
    p {
      font-weight: 500;
      margin-bottom: 0;
    }
    button {
      position: absolute;
      top: -0.1rem;
      right: -0.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background-color: transparent;
      color: #fff;
      width: 0.5rem;
      border-radius: 50%;
      height: 0.5rem;
      background-color: #000;
      font-weight: 500;
      font-size: small;
      cursor: pointer;
    }
  }
}
