.CategoryCard {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  width: 250px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 1rem;
  img {
    width: 200px;
  }
  button {
    border: 2px solid white;
    border-radius: 2rem;
    background: #fff;
    color: black;
    padding: 0.4rem 1.2rem;
    font-size: .9rem;
  }
}
