.CategoryCard {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  width: 20rem;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  border-radius: 1rem;
  position: relative;
  img {
    width: 100%;
    transition: 0.3s ease-in-out;
  }
  button {
    position: absolute;
    opacity: 0;
    border: 2px solid white;
    border-radius: 2rem;
    background: #fff;
    color: black;
    padding: 0.4rem 1.2rem;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  &:hover {
    img {
      filter: brightness(0.5);
      transform: scale(1.1);
      transition: 0.3s ease-in-out;
    }
    button {
      opacity: 1;
      transition: 0.3s ease-in-out;
    }
  }
}
