.Single-form {
  width: 30rem;
  position: absolute;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 1px 1px 10px black;
  padding: 1rem 1rem;
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      button {
        border-radius: 20px;
        width: 8rem;
        height: 2rem;
        border: none;
        background: #6ecb63;
        color: white;
        font-size: large;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        &:first-child {
            width: 3rem;
          background: #564a4a;
          &:active {
            background: #3d3737;
          }
        }
        &:active {
          background: #5daa55;
        }
      }
    }
  }
  form{
    display: flex;
    flex-direction: column;
    padding: .5rem;
    gap: 1rem;
    align-items: center;
  }
  .input {
    display: flex;
    flex-direction: column;
    width: 20rem;
    gap: .2rem;
    input {
      border: 3px solid black;
    }
    &.checkbox {
      gap: 1rem;
      flex-direction: row;
      align-items: center;
      justify-content: left;
    }
  }
}
