.AllProducts {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  button {
    width: 10rem;
  }
  .select-products {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 5rem;
      list-style: none;
      li {
        cursor: pointer;
        position: relative;
        &::after {
          content: "";
          width: 0;
          left: 50%;
          height: 5px;
          background-color: black;
          position: absolute;
          bottom: 0;
          transition: all 0.2s ease;
        }
        &.active {
          &::after {
            left: 0%;
            width: 100%;
            transition: all 0.2s ease;
          }
        }
      }
    }
  }
  .add-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem .5rem;
    flex-basis: 80rem;
    .create-button {
      cursor: pointer;
      border: 1px solid black;
      width: 10rem;
      height: 3rem;
      border-radius: 0.5rem;
      background-color: white;
      font-weight: 600;
      font-size: 0.9rem;
      text-align: center;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease;
      &:hover {
        background-color: black;
        color: white;
        transition: all 0.2s ease;
        transform: scale(1.1);
      }
    }
  }
  .wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .album-container,
  .artistas-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1rem 1rem;
    flex-basis: 80rem;
    min-height: 40rem;
    transition: all 0.5s ease;
  }
  .album-card,
  .artista-card {
    flex-basis: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 18rem;
    position: relative;
    gap: 1rem;
    &:hover {
      .actions {
        opacity: 1;
        transition: all 0.2s ease;
      }
      .img {
        img {
          filter: brightness(0.5);
          transition: all 0.3s ease;
          transform: scale(1.2);
        }
      }
    }

    .actions {
      transition: all 0.2s ease;
      opacity: 0;
      position: absolute;
      flex-direction: column;
      display: flex;
      gap: 1rem;
      top: 25%;
      align-items: center;
      justify-content: center;
      button {
        cursor: pointer;
        height: 2rem;
        border: none;
        border-radius: 0.5rem;
        font-weight: 600;
        font-size: 0.8rem;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        transition: all 0.2s ease;
        color: white;
        width: 6rem;
        &:hover {
          transition: all 0.2s ease;
          transform: scale(1.1);
        }
        &:first-child {
          background: #83bd75;
          &:active {
            background: #70a164;
          }
        }
        &:last-child {
          background: #b20600;
          &:active {
            background: #910500;
          }
        }
      }
    }
    .img {
      display: flex;
      width: 15rem;
      height: 15rem;
      border-radius: 12px;
      overflow: hidden;
      transition: all 0.2s ease;

      overflow: hidden;
      img {
        transition: all 0.3s ease;
        width: 100%;
        z-index: -1;
      }
    }
    .title {
      width: 15rem;
      display: flex;
      align-items: bottom;
      gap: 0.1rem;
      justify-content: left;
      flex-direction: column;
      h1,
      h3 {
        margin: 0;
      }
      h1 {
        font-size: 1.1rem;
      }
      .subtitle {
        display: flex;
        align-items: center;
        text-align: center;

        gap: 0.5rem;
        .artista {
          gap: 0.5rem;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
        }
        .dot {
          border-radius: 50%;
          content: "";
          width: 8px;
          height: 8px;
          background-color: black;
        }
        h3 {
          font-size: 1rem;
          font-weight: 400;
          &:last-child {
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
