.category-card-container {
  cursor: pointer;
  display: block;
  position: relative;
  width: 18rem;
  height: 18rem;

  .card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0 0 1rem 1rem;
  }
  .card-content-wrapper {
    background-color: white;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    position: relative;
    border-radius: 1rem;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      width: 98%;
      height: 98%;
      border-radius: 50%;
      border: 0.1rem solid #fff;
      background: linear-gradient(
            30deg,
            transparent 40%,
            rgba(42, 41, 40, 0.85) 40%
          )
          no-repeat 100% 0,
        linear-gradient(60deg, rgba(42, 41, 40, 0.85) 60%, transparent 60%)
          no-repeat 0 100%,
        repeating-radial-gradient(
          #2a2928,
          #2a2928 4px,
          #ada9a0 5px,
          #2a2928 6px
        );
      background-size: 50% 100%, 100% 50%, 100% 100%;
      opacity: 0;
      transition: opacity 0.5s ease-in, transform 0.3s ease-in;
    }
    &:hover::before {
      opacity: 1;
      transform: translateX(3rem);
    }

    button {
      position: absolute;
      background-color: white;
      width: 0;
      top: 50%;
      left: calc(100% - 1.5rem);
      transform: translate(0%, -50%);
      border: none;
      padding: 0.5rem 0rem;
      transition-property: width, color, background-color;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
      transition-delay: 0.1s;
      white-space: nowrap;
      z-index: 1;
      clip-path: polygon(100% 0%, 93% 49%, 100% 100%, 0 100%, 0 0);
      padding-right: 1rem;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        color: #fff;
        background-color: var(--pastel-color-secondary);
      }
    }
    &:hover button {
      width: 6rem;
    }

    .cat-card-body {
      position: absolute;
      inset: 0;
      color: black;
      z-index: 2;
      display: flex;
      flex-direction: column;
      border: 0.5rem solid #fff;
      border-radius: 1rem;
      img {
        border-radius: 1rem;
      }
    }

    .cat-card-body--lhs {
      clip-path: polygon(0 0, 51% 0, 51% 100%, 0 100%);
    }

    .cat-card-body--rhs {
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 70%,
        rgba(255, 255, 255, 1) 70%
      );

      clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);

      transition: transform 0.5s ease-in-out, background-color 0.4s ease-in-out;
    }
    &:hover .cat-card-body--rhs {
      transform: rotateY(-40deg);
    }
  }
}
