nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  .nav-wrapper {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 1rem 2rem;
    border-bottom: 1px solid #3c2e2e;
    .logo {
      cursor: pointer;
      width: fit-content;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: black;
      font-family: "Inder", sans-serif;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .nav-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 40%;
      height: 5rem;
      margin-bottom: 0;
      gap: 1rem;
      .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        .nav-link {
          cursor: pointer;
          margin-bottom: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          text-decoration: none;
          color: black;
          font-size: 1.2rem;
          font-weight: bold;
          font-family: "Inder", sans-serif;
          transition: all 0.2s ease-in-out;
          &:hover {
            color: red;
          }
        }
      }
    }
    .nav-icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 10%;
      height: 3rem;
      gap: 1rem;
      .nav-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 0%;
        position: relative;
        .icon-link {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          color: black;
          font-size: 1.2rem;
          font-weight: bolder;
          font-family: "Inder", sans-serif;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          &:hover {
            color: red;
          }
        }
        .icon-options {
          opacity: 1;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 1rem;
          top: -3rem;
          width: 11rem;
          padding: 1rem 1rem;
          list-style-type: none;
          color: white;
          background-color: #000000;
          border-radius: 12px;
          transition: all 0.2s ease;
          font-weight: 600;
          transform: scale(0);
          cursor: pointer;
          li {
            font-size: 1rem;
            position: relative;
            transition: all 0.2s ease;
            &::after {
              content: "";
              position: absolute;
              width: 0;
              height: 2px;
              bottom: 0;
              left: 50%;
              background-color: rgb(255, 255, 255);
              transition: all 0.2s ease;
            }
            &:hover {
              transition: all 0.2s ease;
              transform: scale(1.05);
              &::after {
                width: 100%;
                left: 0;
                transition: all 0.2s ease;
              }
            }
          }
          &.active {
            opacity: 1;
            transition: all 0.2s ease;
            top: 1.5rem;
            transform: scale(1);
          }
        }
      }
    }
  }
}
