nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  .nav-wrapper {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 1rem 2rem;
    border-bottom: 1px solid #3c2e2e;
    .logo {
      cursor: pointer;
      width: fit-content;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: black;
      font-family: "Inder", sans-serif;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .nav-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 40%;
      height: 5rem;
      margin-bottom: 0;
      gap: 1rem;
      .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        .nav-link {
          cursor: pointer;
          margin-bottom: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          text-decoration: none;
          color: black;
          font-size: 1.2rem;
          font-weight: bold;
          font-family: "Inder", sans-serif;
          transition: all 0.2s ease-in-out;
          &:hover {
            color: red;
          }
        }
      }
    }
    .nav-icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 10%;
      height: 5rem;
      gap: 1rem;
      .nav-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        .icon-link {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          color: black;
          font-size: 1.2rem;
          font-weight: bolder;
          font-family: "Inder", sans-serif;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          &:hover {
            color: red;
          }
        }
      }
    }
  }
}
