#main-slider-container {
  width: 90%;
  height: 30rem;
  position: relative;
  display: flex;
  align-items: flex-end;
}

#slider {
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  direction: ltr;
  gap: 2rem;
  display: flex;
  scrollbar-color: transparent transparent;
  cursor: move;
  cursor: grab;
  overflow: auto;
  &:active {
    cursor: grabbing;
  }
  &::-webkit-scrollbar {
    height: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(180, 179, 179, 0.215);
  }
  &::-webkit-scrollbar-button {
    width: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #fff;
  }
}

.slider-icon.left,
.slider-icon.right {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  color: #fff;
  font-size: 2rem;
  bottom: -1rem;
  &.slider-icon.left {
    left: 8%;
  }
  &.slider-icon.right {
    right: 8%;
  }
}
.slider-card {
  margin: 2rem;
  width: 16rem;
  display: inline-block;
  cursor: pointer;
  &:nth-child(1) {
    margin-left: 1rem;
  }
  &:last-child {
    margin-right: 1rem;
  }
}
