.Footer {
  border-top: 1px solid white;
  background-color: rgba(34, 34, 34, 1);

  display: flex;
  flex-direction: row;
  font-size: 10px;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 8px;
  padding: 20px;
  .title{
    font-size: 23px;
    border-bottom: 2px solid white;
  }
  img {
    //border: 1px solid red;
    width: 250px;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }


  .details {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    .text {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      i {
        margin-right: 10px;
      }
    }
  }
  .tarjetas,
  .redes {
    //border: 1px solid red;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    i {
      font-size: 50px;
      &:hover{
        transform: scale(115%);
      } 
      transition: .2s ease;
    }
    &.redes{
        cursor: pointer;
    }
  }
  
  .about-us{
    display: flex;
    gap: 10rem;
  }
}
