.ConfirmDialog {
    $dialogWidth: 30rem;
    $dialogHeight: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: $dialogWidth;
  height: $dialogHeight;
  border-radius: 12px;
  background-color: red;
  top: 50%;
  left: 50%;
  margin-top: calc(($dialogHeight/2)*-1.2); /* Negative half of height. */
  margin-left: calc(($dialogWidth/2)*-.9); /* Negative half of width. */
  box-shadow: 0 0 1rem 0.3rem rgba(28, 22, 29, 0.582);
  background-color: var(--pastel-color-quaternary);
  gap: 1rem;
  cursor: default;
  .options-dialog{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    .option {
        text-transform: uppercase;
        border: none;
        border-radius: 0.5rem;
        background: #6ecb63;
       
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 0.5rem;
        
        
        transition: all 0.2s ease;
        button{
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: transparent;
            font-weight: 500;
            color: #fff;
            font-size: large;
            cursor: pointer;
        }
        i {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &:first-child {
          background: #564a4a;
          &:hover {
            background: #3d3737;
          }
        }
        &:hover {
          background: #5daa55;
          transform: scale(1.15);
          transition: all 0.2s ease;
        }
      }
  }
}
