#main-slider-container {
  width: 90%;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  //border: 0.2rem solid olive;
  .wrapper {
    gap: 2rem;
    //border: 0.1rem solid salmon;
    height: 100%;
    padding: 2rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(10, 1fr);
  }
  &:active {
    cursor: grabbing;
  }
  &::-webkit-scrollbar {
    height: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(180, 179, 179, 0.215);
  }
  &::-webkit-scrollbar-button {
    width: 200px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #fff;
  }
}

.slider-icon.left,
.slider-icon.right {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  color: #fff;
  font-size: 2rem;
  bottom: 0;
  &.slider-icon.left {
    left: 10%;
  }
  &.slider-icon.right {
    right: 10%;
  }
}
.slider-card {
  width: 16rem;
  display: inline-block;
  cursor: pointer;
  &:nth-child(1) {
  }
  &:last-child {
  }
}
