.CreateAlbumForm {
  margin-top: 4rem;
  width: 100%;
  min-width: none;
  min-height: 100vh;
  .input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid red;
    flex-wrap: wrap;
    .input {
      width: 30rem;
      //border: 1px solid red;
      &.generos-select{
      }
    }
  }
  .album-img {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 2rem;
    box-shadow: 0rem 0rem 0.5rem;
    &.on {
    }
    &.off {
      background-image: url("https://thumbs.dreamstime.com/b/no-image-available-icon-flat-vector-no-image-available-icon-flat-vector-illustration-132482953.jpg");
    }
  }
  textarea {
    resize: none;
  }
}
