@import url("http://fonts.cdnfonts.com/css/inder");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 0;
}
.not-found-container {
  width: 100%;
  height: 100vh;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-container h1 {
  color: white;
}

.not-found-container h1:last-child {
  background: #fff;
  color: #000;
  padding: 1rem;
  border-radius: 1rem;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* #root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}
 */
