@import url('http://fonts.cdnfonts.com/css/inder');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 0;
  font-family: 'Poppins', sans-serif;
}
.not-found-container {
  width: 100%;
  height: 100vh;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-container h1 {
  color: white;
}

.not-found-container h1:last-child {
  background: #fff;
  color: #000;
  padding: 1rem;
  border-radius: 1rem;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  
                                  supported by Chrome, Edge, Opera and Firefox */
}
html {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 0.75rem;
}
*::-webkit-scrollbar-track {
  background-color: #fefbf6;
}
*::-webkit-scrollbar-thumb {
  background-color: #7f5283;
  border-radius: 9999px;
}
