.Cart {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 80vh;
  padding: 1rem;
  .cart-header {
    padding: 0rem 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    cursor: default;
    &.empty {
      display: flex;
      align-items: left;
      justify-content: center;
      flex-direction: column;

      h3 {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .buttons {
      display: flex;
      gap: 1rem;
      .options {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        transition: all 0.2s ease;
        color: #fff;
        padding: 0.5rem 1.2rem;
        font-size: 0.9rem;
        cursor: pointer;
        border-radius: 0.5rem;
        border: none;
        i {
          margin-right: 0.3rem;
        }
        &:hover {
          transition: all 0.2s ease;
          transform: scale(1.1);
          background-color: rgb(0, 97, 0);
        }
        background: green;
        &:last-child {
          background: rgb(209, 3, 3);
          &:hover {
            background-color: rgb(185, 3, 3);
          }
        }
      }
    }
  }

  .albums-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    .wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 50rem;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      .cart-card {
        position: relative;
        width: 30rem;
        min-height: 10rem;
        display: flex;
        align-items: center;
        .body {
          cursor: default;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: transparent;
          color: black;
          transition: all var(--d) var(--e);
          border-radius: 12px;
          box-shadow: 0 0 0.9rem 0.1rem rgb(127 82 131 / 30%);
          background-color: var(--pastel-color-quaternary);
          padding-right: 2rem;
          .imagen-album {
            display: flex;
            width: 10rem;
            height: 10rem;
            border-radius: 12px;
            overflow: hidden;
            transition: all 0.2s ease;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            z-index: 10;
            img {
              transition: all 0.3s ease;
              width: 100%;
              z-index: -1;
              height: 100%;
              object-fit: cover;
            }
          }
          .info {
            display: flex;
            align-items: left;
            flex-direction: column;
            .title {
              font-size: 1rem;
            }
            .subtitle {
              font-size: 0.5rem;
              display: flex;
              gap: 0.5rem;
            }
            .canciones-container {
              display: flex;
              gap: 1rem;
            }
            .artistas-container {
              display: flex;
              gap: 0.5rem;
              align-items: left;
              flex-direction: row;
              flex-wrap: wrap;
              width: 17rem;
              .artista {
                text-decoration: underline;
                cursor: pointer;
                height: 1rem;
              }
              p {
                margin: none;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 10px;
                font-size: 3rem;
                height: 1rem;
              }
            }
          }
          &:hover {
            transition: all var(--d) var(--e);
            transform: scale(1.03);
            perspective: 5px;
            background: #000;
            color: #fff;
          }
        }

        .buttons-container {
          position: absolute;
          right: -3rem;

          button {
            border: none;
            background-color: transparent;
            font-size: 2rem;
            color: grey;
            transition: all var(--d) var(--e);
            &:hover {
              transition: all var(--d) var(--e);
              color: black;
              transform: scale(1.2);
            }
          }
        }
      }
    }

    .totalprice{
      margin-top: 1rem;
      opacity: 0.7;
     font-size: x-large;
      letter-spacing: 1.5px;
    }
  }
}
