.CreateAlbumForm {
  width: 100%;
  min-width: none;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .title {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    span {
      display: flex;
      gap: 1rem;
      button {
        text-transform: uppercase;
        border: none;
        border-radius: 0.5rem;
        background: #6ecb63;
        font-weight: 500;
        color: #fff;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.5rem;
        padding-top: 0.7rem;
        font-size: large;
        &:first-child {
          background: #564a4a;
          &:active {
            background: #3d3737;
          }
        }
        &:active {
          background: #5daa55;
        }
      }
    }

    display: flex;
  }
  .form {
    padding: 0rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .wrapper {
      margin: 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: left;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;
      align-items: center;
      .input-wrapper {
        flex-basis: 20rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1rem;
        .input {
          display: flex;
          flex-direction: column;
          width: 20rem;
          input {
            border: 2px solid black;
          }
          &.checkbox {
            gap: 1rem;
            flex-direction: row;
          }
        }
      }
      .rigth-inputs{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 60rem;
        justify-content: center;
        align-items: center;
      }
      .images {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        gap: 0.5rem;
        flex-basis: 60rem;
        .images-container{
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
          justify-content: center;
          align-items: center;
          flex-grow: 1;
        }
        .imagent {
          width: 12rem;
          height: 12rem;
          border: #3d3737 dashed 0.1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          label {
            cursor: pointer;
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: x-large;
            height: 100%;
            width: 100%;
            gap: 0.5rem;
            color: #000;
            input[type="file"] {
              visibility: hidden;
              height: 0;
            }
            p {
              font-weight: 500;
              margin-bottom: 0;
              font-size: medium;
            }
          }
          button {
            font-weight: 500;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: none;
            background-color: transparent;
            i {
              font-size: xx-large;
            }
          }
          position: relative;
          .delete-image-btn {
            position: absolute;
            top: -0.9rem;
            width: 1rem;
            height: 1rem;
            background: #fff;
            right: -0.5rem;
            border-radius: 50%;
            color: #000;
            i {
              font-size: large;
            }
          }
          &.show {
            border: none;
            & label {
              color: transparent;
            }
          }
        }
      }
      .singles {
        min-height: 20rem;
        flex-basis: 60rem;
        
        .cancion-input {
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding-right: 1rem;
          .btn {
            width: 3rem;
            height: 2.5rem;
            border: none;
            i {
              color: rgb(0, 0, 0);
              font-size: 1.5rem;
            }
            border-radius: 10px;
            background: #5aa551;
            transition: all 0.1s ease;
            &:hover {
              background: #63b85a;
            }
          }
        }
        .canciones-container {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          width: 100%;
          gap: 1rem;
          .cancion-card {
            display: flex;
            align-items: left;
            justify-content: center;
            flex-direction: column;
            width: 15rem;
            border: 1px solid black;
            position: relative;
            button {
            }
            h1,
            h3 {
              margin: 0;
            }
          }
        }
      }
    }
  }

  textarea {
    resize: none;
  }
}
